body, html {
  margin: 0;
}

html {
  height: 100%;
  background-color: teal;
}

body {
  height: inherit;
  overflow: hidden;
}

h1, p {
  font-family: sans-serif;
  text-align: center;
}

div p {
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
}


button {
  margin: 0 auto;
  display: block;
  font-size: 1.1rem;
  width: 170px;
  line-height: 2;
  margin-top: 30px;
}

/*@media all and (max-height: 410px) {
  div {
    position: static;
  }
}*/

.phrase {
    position: inherit;
    margin-left: 43.39%;
    margin-top: 4%;
}

.output {
  font-style: italic;
}
#map {
    position: static;
    display: table-row;
}